{% extends 'orders/template.html' %}


{% block body %}
  <script>
    function update_status() {
      alert("Status updated");
    }
  </script>

  <div class="container">
    <h2>Order Maintenance</h2>

    <a href={% url 'index' %}>
      <button type="button" class="btn btn-primary">
          Home
      </button>
    </a>

    <table id="status_table" style="width:100%">
      <tr>
        <th>Order</th>
        <th>Customer</th>
        <th>Price</th>
        <th>Status</th>
      </tr>
      {% for order in orders %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.customer }}</td>
        <td>{{ order.price }}</td>
        <td>
          <select id={{order_id}} onchange="update_status(this.value)">
            {% for status in statuses %}
              <option value={{status}}
                {% if status == order.status %}selected="selected"{% endif %}>
                {{status}}
              </option>
            {% endfor %}
          </select>
        </td>
      </tr>
      {% endfor %}
    </table>


  </div> <!-- end container -->


{% endblock %}
